
QTabWidget::pane#tabWidget_main { /* The tab widget frame */
     border-top: 6px solid #00C2C7CB;
     position: absolute;
     top: 10px;
	 background: #002d2f33;
 }
 
 QTabWidget#tabWidget_main::tab-bar {
     alignment: center;

}
